@model gz.Models.Register

@{
    ViewBag.Title = "新用户注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
 
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="register">
            <div style="margin:auto;width:400px;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px">
                <h4 style="width:100px;margin-top:20px;margin-bottom:20px;margin:auto">用户注册</h4>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="register_content">
                    <div class="register_content_group">
                        <div style="margin:auto;width:400px">
                            @Html.EditorFor(model => model.MemberAccount, new { htmlAttributes = new { @class = "form-control_desgin", @placeholder = "账号" } })
                            @Html.ValidationMessageFor(model => model.MemberAccount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="register_content_group">

                        <div style="margin:auto;width:400px">
                            @Html.PasswordFor(model => model.MemberPassWord, new { @class = "form-control_desgin", @placeholder = "密码" })
                            @Html.ValidationMessageFor(model => model.MemberPassWord, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="register_content_group">
                        <div style="margin:auto;width:400px">
                            @Html.PasswordFor(model => model.RptMemberPassWord, new { @class = "form-control_desgin", @placeholder = "确认密码" })
                            @Html.ValidationMessageFor(model => model.RptMemberPassWord, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="register_content_group">
                        <div style="margin:auto;width:400px">
                            @Html.EditorFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control_desgin", @placeholder = "真实姓名" } })
                            @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="register_content_group">
                        <div style="margin:auto;width:400px">
                            @Html.EditorFor(model => model.MemberAddress, new { htmlAttributes = new { @class = "form-control_desgin", @placeholder = "收货地址" } })
                            @Html.ValidationMessageFor(model => model.MemberAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="register_content_group">
                        <div style="margin:auto;width:400px">
                            @Html.EditorFor(model => model.MemberPostcode, new { htmlAttributes = new { @class = "form-control_desgin", @placeholder = "邮政编码" } })
                            @Html.ValidationMessageFor(model => model.MemberPostcode, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="register_content">
                        <div style="margin:auto;width:400px">
                            <input type="submit" value="注册" class="login_button" />
                        </div>
                    </div>
                </div>

            </div>
    </fieldset>
}

