@model gz.Models.Register
@{
    ViewBag.Title = "用户注册";
}
@using (Html.BeginForm())
{
      <div>
         用户名：
         @Html.EditorFor(m => m.UserName)
     </div>
     <div>
         密码：
         @Html.EditorFor(m => m.Password)
     </div>
     <div>
         重复密码：
         @Html.EditorFor(m => m.RptPassword)
     </div>
     <div>
         出生日期：
         @Html.EditorFor(m => m.BirthDate)
     </div>
     <div>
         邮箱：
         @Html.EditorFor(m => m.Email)
     </div>
     <div>
         @Html.EditorFor(m => m.IsApprove)
         同意相关条约
     </div>
     <div>
         <input type="submit" value="注册" />
     </div>
}