@model gz.Models.GZClasssView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home_bg2_bg">
    <div class="class_details">
        <div class="class_details_title">课程详情</div>
        <div class="class_details_content">
            <p>@Html.Label("课程名称：") &nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.ClassName)</p>
        </div>
        <div class="class_details_content">
            <p>@Html.Label("课程介绍：")  &nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.ClassIntroduction)  </p>
        </div>
        <div class="class_details_content">
            <p>@Html.Label("课程类型：")  &nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.ClassTypeName)</p>
        </div>
        <div class="class_details_content">
            <p>@Html.Label("课程价格：")  &nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.ClassPrice)</p>
        </div>
  

        <div>
            @using (Html.BeginForm("Details", "GZClasssView", new { id = Model.ClassID }, FormMethod.Post))
            {
                <div class="class_details_content">
                    <span>@Html.Label("请选择日期：")</span>
                    @Html.DropDownList("DateList", ViewData["DateList"] as SelectList, new { @class = "class_details_check" })
                </div>
                <div class="class_details_content">
                    <span>@Html.Label("请选择时间：")</span>
                     @Html.DropDownList("TimeList", ViewData["TimeList"] as SelectList, new { @class = "class_details_check" })
                </div>
               <div class="class_details_content">
               <input type="submit" value="预约" style="width:400px; height: 35px; line-height: 35px;margin:auto; background-color: #532615; border: none; margin-top: 10px;"/>
               </div>
            }
    </div>
    </div>
</div>