@model gz.Models.GuZheng

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GuZheng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialCname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialCname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GZPhotoAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GZPhotoAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GZCname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GZCname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnologyCname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnologyCname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GZprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GZprice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GZNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
