@model IEnumerable<gz.Models.GuZheng>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialCname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GZPhotoAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GZCname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnologyCname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GZprice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialCname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GZPhotoAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GZCname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnologyCname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GZprice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GZNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.GZNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GZNumber })
        </td>
    </tr>
}

</table>
